.brief {
  position: relative;
  min-height: 30rem;
  text-align: center;

  .brief-desc {
    margin: 0px 20px;

    min-height: 10.5rem;
    span {
      font-size: 18px;
      font-weight: 600;
    }
  }

  .skills {
    display: flex;
    flex-direction: column;
    .heading {
      margin-bottom: 2.5rem;
    }
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-left: 2rem;
      grid-row-gap: 1rem;
      .grid-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        img {
          width: 1.3rem;
          object-fit: contain;
          margin-right: 0.5rem;
        }
      }
    }
  }
}
