.contact {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  z-index: 10;
  .heading {
    margin-bottom: 1.8rem;
    z-index: 1;
  }
  .grid {
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 2rem;
    grid-row-gap: 0.5rem;
    .grid-item {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      svg {
        height: 1.5rem;
        width: 1.5rem;
      }
      img {
        width: 1.3rem;
        object-fit: contain;
        margin-right: 0.5rem;
      }
      a {
        text-decoration: none;
        color: var(--text-primary);
      }
      .ml-0-5 {
        margin-left: 0.5rem;
      }
    }
  }
}
