.stepper {
  position: relative;
  display: flex;
  flex-direction: column;

  .svg-line {
    position: absolute;
    z-index: 0;
    left: 40px;
    top: 100px;
    path {
      fill: var(--stroke-fill-color);
      stroke: var(--stroke-fill-color);
    }
  }

  .progress-bar {
    position: absolute;
    z-index: 0;
    left: 42px;
    top: 100px;
    width: 4px;
    height: 400px;
    border-radius: 4px;
    background-color: #000;
  }
}
