.stepper-edu {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 750px;
  .heading {
    margin-right: auto;
    padding-left: 20px;
    margin-bottom: 20px;
    span {
      border: 1px solid var(--heading-border-color);
      border-radius: 21px;
      padding: 4px 16px;
    }
  }
  .svg-line {
    position: absolute;
    z-index: 0;
    left: 42px;
    top: 100px;
    max-height: 240px;
    path {
      fill: var(--stroke-fill-color);
      stroke: var(--stroke-fill-color);
    }
  }

  .step {
    min-height: auto;
    margin: 16px;
    margin-left: 24px;
    position: relative;
    z-index: 10;
  }
}
