.stepper {
  position: relative;
  display: flex;
  flex-direction: column;

  .svg-line {
    position: absolute;
    z-index: 0;
    left: 40px;
    top: 100px;
    path {
      fill: var(--stroke-fill-color);
      stroke: var(--stroke-fill-color);
    }
  }
}

.stepper.education {
  min-height: 750px;
  .step {
    min-height: 165px;
    margin: 16px;
    margin-left: 24px;
    position: relative;
    z-index: 10;
  }
}

.stepper {
  .step.mh-570 {
    min-height: 570px;
  }
}
