.nav-bar {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 50px;
  color: #fff;
  padding: 1rem;
  position: fixed;
  z-index: 999;
}

.bg {
  width: 100%;
  height: 50px;
  color: #fff;
  background: rgb(0, 0, 0);
  background: var(--navbar-short-bg-color);
  box-shadow: 0px -5px 19px 6px rgba(57, 57, 57, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 1;
  transition: all 300ms cubic-bezier(0.82, 1.66, 0.38, 0.49);
}

.menu-btn-container {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 30px;
  position: absolute;
  top: 0rem;
  right: 1rem;
  z-index: 10;
  cursor: pointer;
}

.menu-btn:before {
  content: "";
  margin-top: -8px;
}
.menu-btn:after {
  content: "";
  margin-top: 8px;
}

.menu-btn,
.menu-btn:before,
.menu-btn:after {
  display: block;
  height: 4px;
  width: 30px;
  background-color: #fff;
  position: absolute;
  transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
  opacity: 1;
  right: 0;
}

.menu-toggle {
  display: none;
}

.menu-toggle:checked + .menu-btn-container > .menu-btn {
  background: transparent;
}

.menu-toggle:checked + .menu-btn-container > .menu-btn:before {
  transform: rotate(45deg) translate(0.5rem, 0.5rem);
}

.menu-toggle:checked + .menu-btn-container > .menu-btn:after {
  transform: rotate(-45deg) translate(0.2rem, -0.2rem);
}

.menu {
  margin-left: auto;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 9;
  cursor: pointer;
}

.menu > li {
  padding: 0 0.5rem;
}

.menu > li > a {
  text-decoration: none;
  color: #fff;
}

@media (max-width: 700px) {
  .nav-bar.rm-height-cap {
    height: 10rem;
  }
  .menu {
    display: none;
  }
  .menu-btn-container {
    display: flex;
  }
  .menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 60px;
    left: 0;
    margin-top: 5.5rem;
    width: 100%;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: all 500ms ease;
    display: none;
  }
  #menu-toggle:checked ~ .menu {
    display: flex;
  }
  #menu-toggle:checked ~ .menu li {
    display: flex;
    border: 1px solid var(--navbar-li-border);
    height: 2.5em;
    padding: 0.5em;
    transition: all 500ms ease;
  }
  #menu-toggle:checked ~ .menu li:last-child {
    border: 1px solid transparent;
    border-top: 1px solid var(--navbar-li-border);
  }
  #menu-toggle:checked ~ .bg {
    height: 18rem;
    background: var(--navbar-full-bg-color);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
  }
  .menu > li {
    border-bottom: 1px solid var(--navbar-li-border);
  }
}
