* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --profile-width: 70px;
  --halo-width: 100px;
  --halo-width-max: 150px;
  --heading-border-color: #000;
  --text-primary: #000;
  --link-bg-color: #bf4fbf;
  --link-text-hover-color: #fff;
  --stroke-fill-color: #000;
  --navbar-full-bg-color: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.86) 90%,
    rgba(140, 140, 140, 0.3) 100%
  );
  --navbar-short-bg-color: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.86) 65%,
    rgba(140, 140, 140, 0.3) 100%
  );
  --navbar-li-border: #444;
}

body {
  margin: 0;
  font-family: "Roboto Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  transition: color 300ms ease;
}

body::-webkit-scrollbar {
  display: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
