.heading {
  margin-right: auto;
  padding-left: 20px;
  margin-bottom: 20px;
  span {
    border: 1px solid var(--heading-border-color);
    border-radius: 21px;
    padding: 4px 16px;
    transition: border 300ms ease;
  }
}
