.about-me {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 1;
  height: 700px;
  overflow-x: hidden;
}

.profile {
  position: relative;
  cursor: pointer;
  left: calc(50% - (var(--halo-width) / 2));
}

.description {
  position: absolute;
  z-index: 0;
  text-align: left;
}
.links {
  position: absolute;
  top: calc(50% + 50px);
}

.links > a > img {
  width: 25px;
  object-fit: contain;
  margin-right: 14px;
  opacity: 0;
  transform: translateX(-110%);
}

.desc-slide-left {
  animation: desc-slide-left-animation 4.5s ease forwards;
}

.github-slide-left {
  animation: desc-slide-left-animation 4.5s ease forwards;
  animation-delay: 100ms;
}

.linkedin-slide-left {
  animation: desc-slide-left-animation 4.5s ease forwards;
  animation-delay: 200ms;
}

.leetcode-slide-left {
  animation: desc-slide-left-animation 4.5s ease forwards;
  animation-delay: 300ms;
}

@keyframes desc-slide-left-animation {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  60% {
    transform: translateX(-150px);
    opacity: 0;
  }

  70% {
    opacity: 0;
  }
  100% {
    transform: translateX(50vw);
    opacity: 1;
  }
}

.profile > .img {
  width: var(--profile-width);
  object-fit: contain;
  border-radius: 50%;
  border: 1px solid #b74dd1;
  z-index: 10;
  position: relative;
  top: calc((var(--halo-width) / 2) - (var(--profile-width) / 2));
  left: calc((var(--halo-width) / 2) - (var(--profile-width) / 2));
}

.profile > .halo {
  height: var(--halo-width);
  width: var(--halo-width);
  background-color: #b74dd1;
  box-shadow: 0px 0px 14px 1px #b344cf;
  position: absolute;
  left: 0;
  z-index: 1;
  border-radius: 50%;
}

.background {
  background-color: #b74dd1;
  box-shadow: 0px 0px 14px 1px #b344cf;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
}
.slide-left {
  animation: slide-left-animation 3.5s ease forwards;
}

@keyframes slide-left-animation {
  0% {
    left: calc(50% - (var(--halo-width) / 2));
  }
  66% {
    left: calc(50% - (var(--halo-width) / 2));
  }
  100% {
    left: 10%;
  }
}

.pulse {
  animation: pulse-animation 2s forwards;
}

@keyframes pulse-animation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.scroll-down {
  position: absolute;
  top: calc(50% + 150px);
  left: calc(50% - 20px);
}

.scroll-down img {
  height: 25px;
  object-fit: contain;
}

.scroll-down .circle {
  background-color: #fff;
  height: 80px;
  width: 40px;
  display: block;
  border: 3px solid #00baff;
  border-radius: 100px;
}

.scroll-down .arrow-down {
  color: #00baff;
  font-size: 23px;
  padding-left: 3px;
  position: relative;
  top: 55px;
}

.delayed-show {
  animation: delayed-show-animation 6s ease forwards;
}

@keyframes delayed-show-animation {
  0% {
    opacity: 0;
  }

  85% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.down-motion {
  animation: down-motion-animation 4s ease infinite;
}

@keyframes down-motion-animation {
  0% {
    top: 55px;
  }

  50% {
    top: 5px;
  }

  80% {
    top: 55px;
  }

  100% {
    top: 55px;
  }
}
